@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
body{
    margin: 0;
    background-color: #f5e6d3;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #7b4b3a;
    padding: 3rem;
    text-align: center;
    align-items: center;
}

h1{
    font-size: 5rem;
    color: white;
    margin: 0;
}

header p{
    color: white;
    font-size: 1.5rem;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    background-color: #ffe0e9;
}

nav a{
    font-size: 1.5rem;
    color: #7b4b3a;
    text-decoration: none;
}

nav a:hover{
    color: #e75480;
}

.imgclass{
    width: 90%;
    height: 400px;
    object-fit: cover;
    margin: 3rem 5%;
    border-radius: 20px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 3rem;
}

.tarjeta{
    width: 35%;
    min-height: 250px;
    background-color: #fff;
    border: 5px solid #7b4b3a;
    border-radius: 20px;
    padding: 2rem;
}

.tarjeta h2{
    color: #7b4b3a;
    font-size: 2rem;
}

.tarjeta p{
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.preparacion{
    margin: 5rem 3rem;
    text-align: center;
}

.preparacion h2{
    font-size: 3rem;
    color: #7b4b3a;
}

.pasos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 2rem;
}

.paso{
    width: 20%;
    background-color: #d9f0ff;
    border: 4px solid #7b4b3a;
    border-radius: 20px;
    padding: 2rem;
}

.paso h3{
    color: #7b4b3a;
    font-size: 1.5rem;
}

.paso p{
    font-size: 1rem;
    line-height: 1.7rem;
}
